<!DOCTYPE html>
<div class="p-3 mb-2 bg-success text-white">
    <div class="bg-success"></div>
    <html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <meta charset="UTF=8">
        <meta name="Jesrael Basilio" content="Nombre del autor del sitio web" />
        <meta name="description" content="Este es un sitio de Cursos de tecnologia para niños" />

        <meta name="viewport" content="width-device-width, initial=scale=1,0">
        <title> Formulario Usuario </title>
    </head>

    <body>
       
        <div class="container">
            <form>
                <div class="form-group">
                    <h1 class="text-center"> Contenido Informatico </h1>
                    <div class="row">
                        <div class="col-md">
                            <p>
                            Id-Lectura: <input type="number" class="form-control" name="numero" min="9" max="54"
                                name="Id-Lectura">
                                
                        </div>
                        </p>
                        <div class="col-md">
                            <p>
                                Tiulo:
                                <input type="text" class="form-control" name="titulo" size="40"> 
                            </p>
                        </div>
                        <div class="col-md">
                            <p>

                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>
                            No-paginas: <input type="number" class="form-control" name="numero" min="9"       name="No-paginas">
                        </p>
                    </div>
                    <div class="col-md">
                        <p>
                           id-Curso:
                            <input type="number" class="form-control" name="id-Curso">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>
                            
                        </p>
                    </div>
                </div>
                <p class="text-center">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <input type="reset" class="btn btn-danger" value="Borrar">
                </p>
            </form>
        </div>
      
    </body>
     
    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        
    </html>