
<!DOCTYPE html>
<div class="p-3 mb-2 bg-success text-white">
    <div class="bg-success"></div>
    <html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <meta charset="UTF=8">
        <meta name="Jesrael Basilio" content="Nombre del autor del sitio web" />
        <meta name="description" content="Este es un sitio de Cursos de tecnologia para niños" />
        <meta name="viewport" content="width-device-width, initial=scale=1,0">
        
        <script src="https://kit.fontawesome.com/f1ab18bc8e.js" crossorigin="anonymous"></script>
        <title> Alumnos</title>
    </head>

    <body>
       
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Numero</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">edad</th>
                <th scope="col">Correo</th>
                <th scope="col">Direccion</th>
                <th scope="col">Localidad</th>
                <th scope="col">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Jesrael </td>
                <td>Escobar</td>
                <td>19</td>
                <td>al221910399@gmail.com</td>
                <td>Cerrada del norte #9</td>
                <td class="col">San Lorenzo Huitzizilapan</td>
                <td>  <button class="btn-primary"> <i class="fas fa-paper-plane"></i>Ver</button> 
                    <button class="btn-warning"><i class="fas fa-edit"></i>Editar</button> 
                   <button class="btn-danger"><i class="fas fa-archive"></i>Eliminar</button> 
                   </td>
              </tr>
     
                <th scope="row">2</th>
                <td>Aldrich</td>
                <td>Zarco</td>
                <td>19 </td>
                <td>al221810899@gmail.com</td>
                <td>AV. Independencia </td>
                <td>Santa Maria Atarasquillo</td>
                <td>  <button class="btn-primary"> <i class="fas fa-paper-plane"></i>Ver</button> 
                    <button class="btn-warning"><i class="fas fa-edit"></i>Editar</button> 
                   <button class="btn-danger"><i class="fas fa-archive"></i>Eliminar</button> 
                   </td>
              </tr>
            
                <th scope="row">3</th>
                <td>Benjamin</td>
                <td>Mondragon</td>
                <td>19</td>
                <td>al221039911@gmail.com </td>
                <td>Las flores #6</td>
                <td>San Fernando Del. Cuajimalpa</td>
            <td>  <button class="btn-primary"><i class="fas fa-paper-plane"></i>Ver</button> 
              <button class="btn-warning"><i class="fas fa-edit"></i>Editar</button> 
             <button class="btn-danger"><i class="fas fa-archive"></i>Eliminar</button> 
             </td>
              </tr>
            </tbody>

          </table>
    </body>

    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    </html>